body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #ffffff;
}

.nav {
  text-align: center;
  margin: 25px 0;
  font-size: 15px;
}

.nav a {
  color: #0b58d1;
  text-decoration: none;
  margin: 0 12px;
  font-weight: bold;
  transition: 0.2s ease;
}

.nav a:hover {
  color: #063c8f;
  text-decoration: underline;
}

.sep {
  margin: 0 6px;
  color: #999;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #dcdcdc; 
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.06); 
}

h1,
h2 {
  color: #0b58d1;
}